<!--Section: Features v.4-->
<section>

    <!--Section heading-->
    <h1 class="py-5 font-weight-bold text-center">Who am I?</h1>
    <!--Section description-->
    <p class="px-5 mb-5 pb-3 lead grey-text text-center">Hello i am dhia zrelli i am 17 years old and i am student
      I love photogrphy , swimming and acting ... Welcome to my website :)</p>
  
    <!--Grid row-->
    <div class="row">
  
      <!--Grid column-->
      <div class="col-md-4">
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="flag-checkered" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Basic Info</h5>
            <p class="grey-text"> First Name : dhia <br> Last Name: zrelli <br> Age : 17 <br> 
              Birthday : 14/10/2003
            </p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="flask" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Hobbies</h5>
            <p class="grey-text"> Photography <br> Acting <br> Swimming.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="glass-martini" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Best Movies and Series</h5>
            <p class="grey-text"> Hitman's bodyguard / <br> Lucifer/La Casa De Papel</p>
          </div>
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-2 center-on-small-only flex-center">
        <img src="https://mdbootstrap.com/img/Mockups/Transparent/Small/iphone-portfolio1.png" alt="" class="z-depth-0">
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="heart" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Status</h5>
            <p class="grey-text"> No Need To know ;)<br> i am still young </p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="bolt" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Rapid</h5>
            <p class="grey-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores
              nam, aperiam minima assumenda
              deleniti hic.</p>
          </div>
        </div>
        <!--Grid row-->
  
        <!--Grid row-->
        <div class="row mb-2">
          <div class="col-2">
            <mdb-icon fas icon="magic" size="2x" class="deep-purple-text"></mdb-icon>
          </div>
          <div class="col-10 text-left">
            <h5 class="font-weight-bold">Quote Of The Day</h5>
            <p class="grey-text">The will to win, the desire to succeed, the urge to reach your full potential... these are the keys that will unlock the door to personal excellence.</p>
          </div>
        </div>
        <!--Grid row-->
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!--/Section: Features v.4-->
<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-12 mb-3">

    <img src="https://quotefancy.com/media/wallpaper/3840x2160/35925-Confucius-Quote-The-will-to-win-the-desire-to-succeed-the-urge-to.jpg" class="img-fluid z-depth-1" alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-lg-4 col-md-12 mb-3">

    <img src="https://lh3.googleusercontent.com/ZTYCJYvli-C1z_G5TK6vMeP0F_lIcI3Z_hBIrdPEkYauFbBePFkrC-2b03b3FRml5UfWDBM6y7v4jQRs5Von3QzT9ieJ_m2QnJzUCI7MECaz1hH0IthpP88j966bKAsVHBAU45Q7a9gKVjEIYnyXztfqp742I0cF0uUyzBC_9j6R-6vINoPz9INkyj1xkfSIIYjVvZ6Pvu_k9-09WVvdAxWaytJ_paV1nCJCXIWq4AUfYZ4oUYmq_IP7-ECssEITd3jdy6BI-0DchvSPGX5Z4fUvlmP7q_KInaLamymf341B_eJOjyJmaW1W6qR_cOCmqZwhA15Wbmz9LbB88PpduQgLdqVnXrrRGIRMvzfiTs8T3q68AI6mJWoguoOZLxQhf65DulVwXdA-Gpc9iFo1fRM9itmuOLhtsUI7GH8qdK0NpyN2KNwqvdY_PLnx_09s53lkZ20IlypdFLtqClIu-Hyk6JoD1A0zJ9FJ2hAkWzlHs8rVFsWauasSF4IeigWKaSsfcg61v2xme_hGjxa-rF-AhtWQGnw4OO_SL7srL5mJERnD_0M_Y1N-5X4yuE9XOsOK0fO6psrwPGNPbCNP_0QEH_zRuO5jKMe9GJQ8p2wj4WbaSzng1O28omOjQNWE7fy9APvs-p59iTUnXffbOb4fFwTTjeG04U486h3fgS8-BPfpSBx5ekJq2Mk7Jw=w766-h575-no" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="https://lh3.googleusercontent.com/WrIg8Jpdo9IKrOtq6cY8dFjwfbdcuLjJ-28n8pq35cNrPvgjX0oheYccgcTUopErFK9EaZdCKDu13jLbcX8EPF2yWom0i9QkrBUAu_hjqSWNyf1ED0QFUNY0zzSkzLpbLs28LiI1bcYOz43QjoW-wt9hmh4dZPUwGlW1WS3aTsLoaaaRUfW5CsGqooHA1Kb49M6cmXnD2kXIhCFf20j7DWxkulrU4ZwV4dkcx4FqHgFv7mZdtLdQhQEwTQNz6qNg4_dmP9i0xhG8Bw1i-9FJDDIEp9VjcWfL12VbtYqfiv8DgeYc-yzUXZiwCKUI6GlK02wN5UbniM6_tTQ8mUQjPSi23F3DZlLiCq0uJOtJCWwv3YWQiArWmY6JToYB-VkVJe8I8CMokIX8ycqKGsRF0uUeuNFmUywyybvUeCdkM2r2x7qo_wwbcvuHwdUBzDMQQd-SEI8By5X-XILKbji_TyYt2_52sq6Dd5drn0Bzw0hPVXiH1npW1q-VHHgjCEukG8Ta-fvLXmiIGZHEweYG_0IdvXnSg73FnpK28nroqn35wfUj-R9oJ8_b43YgR07uJ5IxIWBC89-NiRLHrsDcvk-U4bf4TVClZa22JW9J3KdLmW05kMpY8vFqq8pIrzUCByomY-dO0szQbJ8QTOc0DTGwN0Uy-djXOPDV3sUfKJv48hURdwkG6KYHXml5bw=w766-h575-no" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-4 col-md-6 mb-3">

    <img src="https://lh3.googleusercontent.com/2PYUwnQ5Q3tZhd9BKgQ5I5D0YLE4-Bj61sGKau6JYuxSAsG9jVp7WdiZoSgJVHTEDIhyEOq2ApPnApZiY1w0jcjb36fZrbhRp0k_Kk3w_SGs1zJSv-a4VLI16CjFBiysQms3lgR1xrQoIXK7HUZS2-xrqI9OgBylbO3JWxwbn3xQ9oDvCSlQSv95npHhzVuaVWDlJF_1pKpDVY594GjaRWbVI0YbhTzsYknF26i50NuYae1NpVCH387z2rHXVkoNNgRlV36AeiG3hRemAAjvC7vRi7IPXlPbqyteFLQHlXlsPxjB3QRFkJVOVz8LLZbR42Rj2GaTm6uTHGPkO50_O1swtOcZVTmmsCsMJobR_IWNH68Yc9QNMlr7a1pjzAJlXp2itHnjamkRn0hQVddoIi-FASmohp7CzTnmTVa_044k1dv8cGtqL1xkKySsbUCvKQUa_8Qpvy3i49OFfbGyWobTknM5Rrm7ra8YrPISfo1vZuYbrWqdSb251jlbvpV2v923tOzFtIfOWpKzZem-zxcpN_dXGmpX3rjGWGHqBCxsatuYzyYgVT6UJwDdJpdOEFnMpUVvB92N_3xJANaTfBfn188ndfPU7sB7k7KnWfX37vXkc7kPtm1iAUXeUwZSzchnDoDDd-twvs5w78zc7VceB1veIcxoHIqHJ5wQ_klzX-euz5Xtub3NXnZkwg=w766-h575-no" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->

<!-- Grid row -->
<div class="row">

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://media.popculture.com/2019/12/lucifer-20076550-1280x0.jpeg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-md-6 mb-3">

    <img src="https://fr.web.img6.acsta.net/newsv7/20/04/03/14/09/0682441.jpg" class="img-fluid z-depth-1"
      alt="Responsive image">

  </div>
  <!-- Grid column -->

</div>
<!-- Grid row -->