<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark cyan darken-3" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand> <a class="navbar-brand" href="#">
      <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30" alt="">
  </a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link waves-light" mdbWavesEffect>Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect>Pricing</a>
        </li>
  
        <!-- Dropdown -->
       
  
      </ul>
      <!-- Links -->
  
      <ul dropdownToggleclass="navbar-nav ml-auto nav-flex-icons">
  
        <li class="nav-item avatar dropdown" dropdown>
          <a  mdbWavesEffect type="button" class="" mdbWavesEffect>
            <img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/p960x960/70444870_1349731445190358_4155470348818579456_o.jpg?_nc_cat=107&_nc_sid=85a577&_nc_ohc=XKYLbG7TtLMAX-j_3nD&_nc_ht=scontent.ftun2-1.fna&_nc_tp=6&oh=697d7535d808304a252000bed91163f8&oe=5EA66964" alt="" width="40" height="40" class="img-fluid rounded-circle z-depth-0"></a>
  
        </li>
      </ul>
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
  <!--/.Navbar-->
<app-firstpage></app-firstpage>
<footer class="page-footer font-small cyan darken-3">
  
  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <mdb-icon fab icon="facebook" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
              <mdb-icon fab icon="twitter" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
              <mdb-icon fab fab icon="google-plus" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
              <mdb-icon fab icon="linkedin" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
              <mdb-icon fab icon="instagram" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
              <mdb-icon fab icon="pinterest" size="2x" class="white-text mr-md-5 mr-3"></mdb-icon>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="">Dhia Zrelli</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->