  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/70605842_2399070950334819_6330287130035617792_n.jpg?_nc_cat=101&_nc_sid=dd9801&_nc_ohc=uoioZNwiDfYAX-nW6Cn&_nc_ht=scontent.ftun2-1.fna&oh=327c8d36b9bfa725da96788f27ba7642&oe=5EAB885A" width="1100" height="700" alt="MentorNations">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">MentorNations</h3>
        <p>scroll down to see more details</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/80822744_2755222674535642_3391089538771189760_o.jpg?_nc_cat=100&_nc_sid=cdbe9c&_nc_ohc=rejbuN808TYAX81aTaX&_nc_ht=scontent.ftun2-1.fna&oh=8abecd52cc83eda902e4a84b2d33361e&oe=5EB95094" width="1100" height="700" alt="LTTC">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">LTTC</h3>
        <p>scroll down to see more details</p>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="view w-100">
        <img class="d-block w-100" src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/62217126_2362727377386150_1528466323913310208_o.jpg?_nc_cat=109&_nc_sid=e3f864&_nc_ohc=AvTE3LSbq00AX_n62G5&_nc_ht=scontent.ftun2-1.fna&oh=6432433c6c2d55cfa5dceb079c71c3b1&oe=5EBA6EDF" width="1100" height="700" alt="Third slide">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">My youtube channel</h3>
        <p>scroll down to see more details</p>
      </div>
    </mdb-carousel-item>
  </mdb-carousel>
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/s960x960/69010305_2062893987148835_2619363398344769536_o.jpg?_nc_cat=102&_nc_sid=caff61&_nc_ohc=fLTLadzDYMcAX9im0iX&_nc_ht=scontent.ftun2-1.fna&_nc_tp=7&oh=6c3c43e4417be73f8f5a0ba48fd233ba&oe=5EAE0393"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
  
      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>My adventure with MentorNations</strong>
        </h4>
      </mdb-card-title>
  
      <h5 class="indigo-text">
        <strong>WeRWebDevs</strong>
      </h5>
  
      <mdb-card-text>
        MentorNations and the U.S. Embassy announced a 🆓  practical tech program for young Tunisians to develop web apps. The training  focused on full-stack development using Angular as Front-End and NodeJs as Back-End. 
      </mdb-card-text>
  
      <!--Linkedin-->
      <a class="px-2 icons-sm li-ic">
        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
      </a>
      <!--Twitter-->
      <a class="px-2 icons-sm tw-ic">
        <mdb-icon fab icon="twitter"> </mdb-icon>
      </a>
      <!--Dribbble-->
      <a class="px-2 icons-sm fb-ic">
        <mdb-icon fab icon="facebook-f"> </mdb-icon>
      
      </a>
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>see details</button>
    </mdb-card-body>
  
  </mdb-card>
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/81120845_2755219877869255_5158684304397565952_o.jpg?_nc_cat=108&_nc_sid=cdbe9c&_nc_ohc=s8HPg4jvCmAAX_a0cwP&_nc_ht=scontent.ftun2-1.fna&oh=d9434c76a9d1cd10822cdbe33bdd29cc&oe=5EB9B062"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
  
      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>My adventure with LTTC</strong>
        </h4>
      </mdb-card-title>
  
      <h5 class="indigo-text">
        <strong>Robotics and VFX</strong>
      </h5>
  
      <mdb-card-text>
        Lycee teboulba techno club is a club located at teboulba and mentored by Onet members ... they spletted in two teams 
        one is teaching robotics sessions and the second visual effects i am one of the robotics team
      </mdb-card-text>
  
      <!--Linkedin-->
      <a class="px-2 icons-sm li-ic">
        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
      </a>
      <!--Twitter-->
      <a class="px-2 icons-sm tw-ic">
        <mdb-icon fab icon="twitter"> </mdb-icon>
      </a>
      <!--Dribbble-->
      <a class="px-2 icons-sm fb-ic">
        <mdb-icon fab icon="facebook-f"> </mdb-icon>
      </a>
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>see details</button>
    </mdb-card-body>
  
  </mdb-card>
  <mdb-card cascade="true" wider="true" reverse="true" class="my-4">
    <!--Card image-->
    <div class="view view-cascade overlay waves-light" mdbWavesEffect>
      <mdb-card-img src="https://scontent.ftun2-1.fna.fbcdn.net/v/t1.0-9/62217126_2362727377386150_1528466323913310208_o.jpg?_nc_cat=109&_nc_sid=e3f864&_nc_ohc=AvTE3LSbq00AX_n62G5&_nc_ht=scontent.ftun2-1.fna&oh=6432433c6c2d55cfa5dceb079c71c3b1&oe=5EBA6EDF"></mdb-card-img>
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
    <!--/Card image-->
  
    <!-- Card content -->
    <mdb-card-body cascade="true" class="text-center">
  
      <!--Title-->
      <mdb-card-title>
        <h4>
          <strong>My youtube channel</strong>
        </h4>
      </mdb-card-title>
  
      <h5 class="indigo-text">
        <strong>100% tounsi</strong>
      </h5>
  
      <mdb-card-text>
       I created a youtube channel when me and two of my friends to practice our hobby which is content creating see details to find the link ... hope you enjoy it !
      </mdb-card-text>
  
      <!--Linkedin-->
      <a class="px-2 icons-sm li-ic">
        <mdb-icon fab icon="linkedin-in"> </mdb-icon>
      </a>
      <!--Twitter-->
      <a class="px-2 icons-sm tw-ic">
        <mdb-icon fab icon="twitter"> </mdb-icon>
      </a>
      <!--Dribbble-->
      <a class="px-2 icons-sm fb-ic">
        <mdb-icon fab icon="facebook-f"> </mdb-icon>
      </a>
      <button mdbBtn type="button" gradient="aqua" rounded="true" mdbWavesEffect>see details</button>
    </mdb-card-body>
  
  </mdb-card>
  <!-- Footer -->
  